{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Property Search</h1>
{% if form %}
<div class="row">
  <div class="col-md-6">
    {{ wtf.quick_form(form, id="GeogreferenceForm") }}
  </div>
  <div class="col-md-6">
    <div id="map" style="height: 180px;"></div>
    <a href="javascript:georeference(
              '#addressElem',
              '#propCoordinates');"> Search for coordinates </a>
              <div id="propCoordinates"></div>
  </div>
</div>
{% endif %}

{% endblock %}
