{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>{{ _('Company name') }}: {{ company.name }}</h1>
                {% if company.user_id %}
                <p>{{ _('Owner') }}: {{ company.owner.username }}</p>
                {% endif %}
                {% if company.membership_id %}
                <p>{{ _('Member ID') }}: {{ company.membership_id }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
