{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Edit a company') }}</h1>
    <div class="row">
        <div class="col-md-4">
          {{ wtf.quick_form(form) }}
        </div>
    </div>
    <a href="{{ url_for('main.delete_company', id=company.id) }}" class="btn btn-default">{{ _('Delete company') }}</a>

    <div class="row">
      <h2>{{ _('Employees') }}</h2>
    <div class="col-md-4">
    {% for empl in company.employees %}
    <p><strong>{{ empl.username}}</strong> <a href="{{ url_for('main.company_fire', company_id=company.id, user_id=empl.id) }}" class="btn btn-small">{{ _('Fire employee') }}</a> </p>
    {% endfor %}
    </div>
    <div class="col-md-4">
    {% if current_user.has_role('admin') %}
    {% for futureuser in users %}
        {% if not company.is_employing(futureuser) %}
        <p>{{ futureuser.username }} {% if futureuser != current_user %} <a href="{{ url_for('main.company_hire', company_id=company.id, user_id=futureuser.id) }}">{{ _('Add employe') }}</a> {% else %} {{ _('It\'s You') }} {% endif %} </p>
        {% endif %}
    {% endfor %}
    {% endif %}
    </div>
    </div>

{% endblock %}
